.listItem {
	padding: 0 1.5rem;
	cursor: pointer;
	align-items: center;
	border-bottom: 0.0625rem solid #e0e0e0;
	height: 3.75rem;
	position: relative;
}
.listItem:hover {
  border-radius: 0.5rem;
  background-color: #e8f0fe;
  border-color: transparent;
}

.assignmentTitle {
  color: #3c4043;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}